body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkslateblue;
}

.wrapper #calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    padding: 10px;
    border-radius: 30px;
    background-color: #243441;
    box-shadow:   inset 0px 3px 5px #313f4b, 
                  3px 3px 3px #232733;
}

.wrapper #calculator #screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-top: 40px;
    padding: 5px;
    border-radius: 15px;
    background-color: #2e3b46;
}

.wrapper #calculator #screen #result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    height: 50px;
    padding: 25px 0 15px 0;
    font-size: 3rem;
    color: white;
}

.wrapper #calculator #screen #operation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    height: 30px;
    padding: 3px 0;
    font-size: 1rem;
    font-weight: 300;
    color: gray;
}

.wrapper #calculator #panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #57646E;
}

.wrapper #calculator #panel #buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.wrapper #calculator #panel #buttons .btn {
    display: flex;
    height: 50px;
    width: 55px;
    margin: 10px 5px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #243441;
    box-shadow:   inset -3px 1px 3px #2d3546, 
                   3px 3px 3px #232733;
}

.wrapper #calculator #panel #buttons .btn:hover {
    cursor: pointer;
    background-color: #212e38;    
    box-shadow:   inset -3px 1px 3px #23303a, 
                  3px 3px 3px #232733;
}

.wrapper #calculator #panel #buttons .btn:active {
    font-size: 0.9rem;
    transition: 0.04s;
}

.wrapper #calculator #panel #buttons .btn#\= {
    flex-grow: 2;
    background-color: rgb(92, 46, 134);
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow:   inset -3px 1px 3px rgb(105, 58, 150), 
                  3px 3px 3px #302333;
    color: rgb(125, 141, 153);
}

.wrapper #calculator #panel #buttons .btn#\=:hover {
    background-color: rgb(81, 38, 121);
    box-shadow:     inset -3px 1px 3px rgb(86, 44, 124), 
                    3px 3px 3px #302333;
}

.wrapper #calculator #panel #buttons .btn#\=:active {
    font-size: 1.2rem;
    transition: 0.04s;
}

.wrapper #calculator #panel #buttons .btn#smiley {
    font-size: 1.3rem;
}

